<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brushed Glam | Profile
    </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <nav class="navbar fixed-top navbar-expand-lg">
            <a class="navbar-brand" href="#">Brushed Glam</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="./content.html">Content</a>
                    <li class="nav-item dropdown">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#"
                                style="color: rgb(0, 200, 255); text-shadow:1px 1px wheat; font-size: 200%;"
                                id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="./profile.html">Profile</a>
                                <a class="dropdown-item" href="./partners.html">Partners</a>
                                <a class="dropdown-item" href="./products.html">Products</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="main-container">
            <div class="profile">
<img src="../assets/img/inserthere1.jpeg" alt="profile picture">

            </div>
            <div class="card-deck">
                <div class="card" style="width: 18rem;">
                    <a href="https://www.instagram.com/brittpeve/">
                        <img class="card-img-top" src="../assets/img/inserthere1.jpeg" alt="Card image cap. Instagram">
                        <div class="card-body">
                            <p class="card-text">Instagram</p>
                        </div>
                    </a>
                </div>
                <div class="card" style="width: 18rem;">
                    <a href="https://www.facebook.com/brittany.peve">
                        <img class="card-img-top" src="../assets/img/inserthere1.jpeg" alt="Card image cap. Facebook">
                        <div class="card-body">
                            <p class="card-text">Facebook</p>
                        </div>
                    </a>
                </div>
                <div class="card" style="width: 18rem;">
                    <a href="https://www.youtube.com/channel/UCmbCncM9TO5iCHRu2yxuScg">
                        <img class="card-img-top" src="../assets/img/inserthere1.jpeg" alt="Card image cap. Youtube">
                        <div class="card-body">
                            <p class="card-text">Youtube</p>
                        </div>
                    </a>
                </div>
                <div class="card" style="width: 18rem;">
                    <a href="#">
                        <img class="card-img-top" src="../assets/img/inserthere1.jpeg"
                            alt="Card image cap. InfluencersOnly">
                        <div class="card-body">
                            <p class="card-text">InfluencersOnly</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="posts">

            </div>
        </div>
        <nav class="navbar fixed-bottom navbar-expand-lg justify-content-center"
            style="background-color: rgb(163, 102, 194);">
            <span class="navbar-text">
                <p>Designed and built by Ceaser Perkins. You can find the
                    code<a href="https://github.com/CeaserSP/DCClickyGame" target="_blank" rel="noopener noreferrer">
                        here</a>.</p>
            </span>
        </nav>
    </div>
</body>

</html>