<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brushed Glam | Profile
    </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/app.css">
</head>

<body>
    <div class="container">
        <nav class="navbar fixed-top navbar-light" style="background-color: rgb(163, 102, 194);">
            <a class="navbar-brand" style="color: wheat; font-size: 200%;" href="#">Brushed Glam</a>
        </nav>
        <div class="main-container">
            <div class="card-deck">
                <div class="card" style="width: 18rem;">
                    <a href="https://www.instagram.com/brittpeve/">
                        <img class="card-img-top" src="../assets/img/BrushedGlam1.png" alt="Card image cap. Instagram">
                        <div class="card-body">
                            <p class="card-text">Instagram</p>
                        </div>
                    </a>
                </div>
                <div class="card" style="width: 18rem;">
                    <a href="https://www.facebook.com/brittany.peve">
                        <img class="card-img-top" src="../assets/img/BrushedGlam1.png" alt="Card image cap. Facebook">
                        <div class="card-body">
                            <p class="card-text">Facebook</p>
                        </div>
                    </a>
                </div>
                <div class="card" style="width: 18rem;">
                    <a href="https://www.youtube.com/channel/UCmbCncM9TO5iCHRu2yxuScg">
                        <img class="card-img-top" src="../assets/img/BrushedGlam1.png" alt="Card image cap. Youtube">
                        <div class="card-body">
                            <p class="card-text">Youtube</p>
                        </div>
                    </a>
                </div>
                <div class="card" style="width: 18rem;">
                    <a href="#">
                        <img class="card-img-top" src="../assets/img/BrushedGlam1.png"
                            alt="Card image cap. InfluencersOnly">
                        <div class="card-body">
                            <p class="card-text">InfluencersOnly</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="posts">

            </div>
        </div>
    </div>
</body>

</html>