body{
    background-image: url("../img/background.jpg");
    justify-content: center;
}
.navbar{
    height: 75px;
}
.container{
    margin-top: 80px;
    color: wheat;
}
.main-container{
    display: inline-block;
}
/* .jumbotron{
    justify-content: center;
} */
.card{
    text-align: center;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: wheat !important;
    color: rgb(0, 200, 255);
}